/* ROOT */

@font-face {
  font-family: "submarine";
  src: url(fonts/submarine.otf);
}

:root {
  --beige: #F6DCAC;
  --orange: #FEAE6F;
  --grey: rgb(128, 128, 128);
  --navy: #01204E;
  --teal: #028391;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 100vh;
}

.navy {
  color: var(--navy);
  text-shadow: 2px 2px var(--orange);
}

.orange {
  color: var(--orange);
  text-shadow: 2px 2px var(--teal);
}

/* HEADER */

header {
  max-height: 90px;
  padding: 1%;
  background-color: var(--teal);
  font-family: "submarine";
  font-size: xx-large;
  color: white;
  display: flex;
  gap: 20%;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--beige);
}

h1 {
  text-shadow: 3px 3px var(--orange);
}

input {
  background-color: white;
  border: 2px solid var(--orange);
  border-radius: 5px;
  color: var(--navy);
  font-family: "submarine";
  font-size: large;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

/* MAIN */

button {
  border: 2px solid var(--orange);
  border-radius: 5px;
  color: var(--white);
  background-color: var(--navy);
  font-family: "submarine";
  font-size: x-large;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: 0.2s ease;
}

button:hover {
  background-color: var(--beige);
  color: var(--orange);
}

.main {
  padding: 1%;
  margin-right: 25%;
  margin-left: 25%;
  background-color: var(--teal);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--beige);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  margin-bottom: 100px;
}

.square {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  float: left;
  border: 3px solid var(--orange);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 33.3%;
  text-align: center;
  font-family: "submarine";
  font-size: 50px;
  background-color: beige;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  transition: 0.2s ease;
}

.square:hover {
  background-color: var(--beige);
  transform: scale(1.2);
  border: 3px solid var(--beige);
}

#controls, #message {
  text-align: center;
  margin: 20px 0;
  font-family: "submarine";
  font-size: x-large;
}

/* FOOTER */

footer {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: var(--teal);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: "submarine";
  font-size: large;
  border-top: 2px solid var(--beige);
}

.footer-links a, footer a {
  color: var(--white);
  text-decoration: none;
}

.footer-links i:hover, footer a:hover {
  color: var(--beige);
  transform: scale(1.2);
}

.fa-heart {
  color: var(--beige);
}

.fa-mug-hot {
  color: var(--orange);
}

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {
  .container {
    gap: 0;
  }

  header {
    font-size: small;
    justify-content: center;
  }

  .main {
    margin-left: 0;
    margin-right: 0;
    border: 0;
    background-color: var(--navy);
    box-shadow: 0 0;
  }

  footer {
    font-size: small;
    height: 30px;
  }
}
